body {
  margin: 2rem auto;
  max-width: 500px;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: #f1f1f1;
}
.selecao {
  display: flex;
  gap: 1rem;
}
.adicionar {
  font-weight: bold;
}
.feedback {
  display: flex;
}
.campos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.container {
  display: flex;
  gap: 1rem;
  padding: 0;
}
.remover {
  border-radius: 50%;
  font-weight: bold;
}
.label {
  margin-bottom: 0.25rem;
}
select, input {
  box-shadow: 2.5px 2.5px 5px gray;
}